<div class="container">

<p id="notice"><%= notice %></p>

<h1>Finding Aids</h1>

  <% @findingaids.each do |findingaid| %>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div>File</div>
        <div>Slug</div>
        <div>EAD ID</div>
        <div>EAD URL</div>
        <div>MD5</div>
        <div>SHA-1</div>
        <div>Size</div>
        <div>State</div>
        <div>Error</div>
      </div>
      <div class="col-md-7">
        <div><%= findingaid.filename %>&nbsp;</div>
        <div><%= findingaid.slug %>&nbsp;</div>
        <div><%= findingaid.eadid %>&nbsp;</div>
        <div><%= findingaid.eadurl %>&nbsp;</div>
        <div><%= findingaid.md5sum %>&nbsp;</div>
        <div><%= findingaid.sha1sum %>&nbsp;</div>
        <div><%= findingaid.content.length %>&nbsp;</div>
        <div><%= findingaid.state %>&nbsp;</div>
        <div><%= findingaid.error %>&nbsp;</div>
      </div>
      <div class="col-md-3">
        <div><%= link_to 'Show', findingaid %></div>
        <div><%= link_to 'Edit', edit_findingaid_path(findingaid) %></div>
        <div><%= link_to 'Destroy', findingaid, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <div>&nbsp;</div>
        <div><%= link_to_if findingaid.slug.present?, "Reindex", reindex_findingaid_path(findingaid), method: :put %></div>
      </div>
    </div>
  <% end %>

<!--<br>-->

<%#= link_to 'New Findingaid', new_findingaid_padiv %>
</div>
